@tailwind base;
@tailwind components;
@tailwind utilities;

/* navbar custom colors */
.navbg {
  background-color: #f6f9fd;
}
.navbg2 {
  background-color: #dde7f8;
}
.navbg3 {
  background-color: #0d0630;
}
/* lists custom style */
.listbg {
  background-color: #fafafa;
}
.listbg2 {
  border: 1px solid #e6e6e6;
}
.orange1 {
  color: #ffa620;
}
.orange2 {
  background-color: #ffe6c3;
}
.green1 {
  color: #24753a;
}
.green2 {
  background-color: #c8eed3;
}
/* input box format  */
input:focus {
  outline: none;
}
